<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <h1>Willkommen</h1>
  
  <p>Diese Webseite befindet sich derzeit im Aufbau.</p>



  <div ng-if="!main.ctrl.signedIn" class="container">
    <div class="row">
      <div class="col-md-4">
  
        <form class="form-signin">
          <h2 class="form-signin-heading">Anmelden</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input ng-model="main.ctrl.user" type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input ng-model="main.ctrl.pass" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <button ng-click="main.login()" class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
        </form>
        <br>
        <p ng-bind="main.ctrl.msg" class="text-danger"></p>
  
      </div> <!-- /container -->

    </div>
      
  </div>

  <div ng-if="main.ctrl.signedIn">
    <a href="#routen" class="btn btn-default" >Routen editieren</a>
  </div>
  
  <!--<div class="jumbotron">
    <h3>Daten vom Server</h3>
    <pre ng-bind="main.nabu.data | json"></pre>
  </div>-->


</div>
