<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <h1>Fragen für Punkt #{{ctrl.params.pointId}}</h1>



  <table class="table">
    <thead>
      <th>Schwierigkeit</th>
      <th>#</th>
      <th>Frage</th>
      <th>Antwort A</th>
      <th>Antwort B</th>
      <th>Antwort C</th>
      <th>Antwort D</th>
      <th>Editieren</th> 
      <th></th>             
    </thead>
    <tbody ng-repeat="(index, question) in ctrl.nabu.data.multiple_choice | filter:ctrl.filterFunction | orderBy:difficulty">
      <tr>
        <td ng-bind="question.difficulty"></td>
        <td ng-bind="question.id"></td>
        <td ng-bind="question.question_text"></td>
        <td><span ng-bind="question.a1" ng-class="{'text-success':(1===question.correct_answer)}"></span></td>
        <td><span ng-bind="question.a2" ng-class="{'text-success':(2===question.correct_answer)}"></span></td>
        <td><span ng-bind="question.a3" ng-class="{'text-success':(3===question.correct_answer)}"></span></td>
        <td><span ng-bind="question.a4" ng-class="{'text-success':(4===question.correct_answer)}"></span></td>
        <td><a class="btn btn-success" href="#/edit1question/{{question.question_id}}">Edit</a></td>
        <td><button ng-click="ctrl.drop(question)"class="btn btn-warning" >X</button></td>                               
      </tr>
    </tbody>
  </table>
  <button ng-click="ctrl.new(ctrl.params.pointId)" class="btn btn-primary">Frage hinzufügen</button>
  <hr>  
  <button id="cancel" ng-click="ctrl.back()" class="btn btn-default">Zurück</button>
  
</div>
